<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<p>Due on days</p>

        <button (click)="goalDelete(true)">Delete Quote</button>
        <br><br>
        <!-- <button (click)='likeQuo()' id="display" class="btn btn-outline-success">like <i class="fa fa-thumbs-up"
            style="font-size:20px"></i></button><span id="lk">0</span> -->
            <button id="dislike" style="color: red;">Dislike <i class="fa fa-thumbs-down"
              style="font-size:20px"></i></button><span id="dlk">0</span>